*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cointainer{
    width: 100%;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titolo{
    color: white;
}
.imgPost {
    width: 550px;
}